__pycache__/
.venv/
.env
.env.test
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Fichiers de couverture
.coverage
coverage.xml
coverage_html/
htmlcov/

# Fichiers pytest
.pytest_cache/
.pytest_report/

# Fichiers de log
*.log

# Fichiers de base de données
*.sqlite
*.db

# Fichiers système
.DS_Store
Thumbs.db
