ENV=development
SECRET_KEY=YourSecretKey
ALGORITHM=HS256

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DBNAME

# Redis
REDIS_URL=redis://localhost:6379

# LLM
LLM_ENDPOINT=your llm base url

# API
API_HOST=0.0.0.0
API_PORT=8000

